/* styles for my website */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background: #ffffff;

}


header {
    /* height: 200px; */
    background:#D4AF37; 
    overflow:hidden; 
    padding: 2px;
    
}



#inner-header {
    margin:5px auto; 
    max-width: 1200px; 
    
}


nav ul{
    float:right;
    padding: 5px; 
}

nav li {
    float:left; 
    margin-left: 15px;
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
}

#wrapper {
    margin: 0 auto; 
    background: white; 
    clear: both; 

}


#hero {
    height: 350px; 
    background: white; 
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both; 
    margin-left : 10%;
    margin-right : 10%;
    word-break: break-all;  
    text-align:justify; 
    padding: 1px; 
   
}


main {
    width : 50%;
    float : left;
    margin-left : 10%;
    padding : 10px;
    background: white;
    margin-right : 10%;
}


#images {
   border-radius: 50%;
   border: 10px solid #D4AF37; 
   margin: 3px; 
   clear: both;  
   float: right; 
   
}

aside{
    width : 20%;
    float : right;
    margin-right : 5%;
    margin-left: 5%;
    padding : 50px;
    text-align: left;
    background-color: white;
    
}

aside ul{
    margin: 2px; 
    line-height: 1.4;
    padding: 2px; 
    text-align: left;
}

aside li{
    margin: auto; 
    list-style-type: none;
}


footer {
    clear:both; 
    height: 100px;
    line-height:5px;
    background: #D4AF37; 
    padding: 15px 10px; 
    text-align: center;
    margin : 0 auto;
    color : white;

}

footer li{
    float:left; 
    margin-right:20px;
    list-style-type:none;
    padding: 5px; 
   
}