/*styles for my form class exercise*/

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    
}

body {
    background: beige; 

}

.error{
    display: block; 
    color: red; 
    margin-bottom: 8px;
    font-style: italic;
}

form ul {
    margin-left: 10px; 
    list-style-type: none;
    margin-bottom: 7px;
}

form {
    width: 400px; 
    margin: 20px auto; 

}

fieldset {
    border:1px solid thistle; 
    padding: 10px; 
}

header{
    background:thistle;
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold; 
    margin-top: 5px;
    font-size: 1.2em;
    list-style-type: none;

}

input[type=submit] {
    display: block; 
    margin-bottom: 10px;
    list-style-type: none;
}

input[type=text], 
input[type=email], 
input[type=password] {
    display: block; 
    height: 30px; 
    width: 100%; 
    margin-bottom: 10px;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.error{
    display: block; 
    color: red; 
    margin-bottom: 8px;
    font-style: italic;
}

footer { 
    height: 60px; 
    line-height: 60px; 
    background: beige; 
    text-align: center;
}

#inner{
    background: beige; 
    float: center; 
}

footer li{
    list-style-type: none;
    margin-right: 20px; 
    display: inline; 
    
  
}

form ul {
    margin-left: 10px; 
    list-style-type: none;
    margin-bottom: 7px;
}

select, textarea {
    margin-bottom: 10px;
     
}

.success{
    float: left; 
    margin-left: 5%; 
    margin-top: 20px; 
    width: 200px; 
    padding: 10px; 

}

textarea{
    width: 100%; 
    resize: none; 
    height: 140px; 
    
}

.welcome-logout{
    float: right;
    margin-right: 5%; 
    margin-top: 20px; 
    width: 200px; 
    padding: 10px; 
}

#wrapper{
    text-align: center;
    clear: both; 
}

