/* My styles for my week 8 people page */
* {
    padding: 0; 
    margin: 0; 
    box-sizing: 0; 

}

body {
    background: beige; 

}

#wrapper {
    max-width: 1200px;
    /*values from 940px grid*/
    margin: 30px auto; 
    
}

main {
    float: left; 
    /*main in px = 580pc */
    /*change to percentages = 580 divided by 94 */
    width: 61.70%; 
   
}

.inner { 
    max-width: 1200px;
    /*values from 940px grid*/
 
}

li {
    list-style-type: none;
}

main ul {
    margin-left:20px; 
    margin-bottom:10px;
}

p {
    line-height:1.4; 

}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

aside {
    float: right; 
    width: 36.16%; 
    text-align: center;
    
}

aside img {
    display:block;
    margin:0 auto; 
}

footer {
    clear: both; 
    height: 60px; 
    line-height: 60px; 
}

footer li{
    list-style-type: none;
    float: left; 
    margin-right: 30px; 
}