/* styles for my website */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background: #ffffff;

}


header {
    /* height: 200px; */
    background:#D4AF37; 
    overflow:hidden; 
    padding: 10px;
    
}

#h1-header {
    text-align: justify;
    
}

#paragraph-header {
    text-align: justify;
    
}


#inner-header{
    margin:20px auto; 
    max-width: 1200px; 
}

nav ul{
    float:right;
}

nav li {
    float:left; 
    margin-left: 15px;
    list-style-type: none;
}

nav a{
    text-decoration: none;
}
#wrapper {
    margin:20px auto; 
    max-width: 1200px; 

}

#hero {
    height: 300px; 
    background: #ffffff; 
    margin-bottom: 20px;
    clear: both; 
}


main {
    width: 750px;
    height: 800px; 
    margin-bottom:10px;
    background: #ffffff;
    float:left; 
    margin: 2px; 

}

#mamppages {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    margin-bottom: 20px;

}

#images {
   
   border-radius: 50%; 
   width: 300px; 
   height: 300px;
   margin: 20px; 
   float: right; 
   
}

aside{
    width:35%; 
    height:300px; 
    float: right; 
    text-align: center;
    
}

aside ul{
    margin: 2px; 
}

aside li{

    list-style-type: none;
}


footer {
    border-top: 2px solid #666; 
    clear:both; 
    height:60px;
    line-height:60px;
    background: #D4AF37; 
    

}

footer li{
    float:left; 
    margin-right:20px;
    list-style-type:none;
    padding: 20px; 
    text-align: center;
}