/* Styles for IT 261 Main Website */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: beige;
    /* min-height:100vh; */
}
header {
    background: beige;
    overflow:hidden;
}
nav {
    height:50px;
    float:right;
}
nav ul {
    float:right;
}
nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}
nav a {
    text-decoration:none;
    color:black;
}
nav a.current{
    color:green;
    font-weight:bold;
}
.header-inner {
    max-width:1100px;
    margin: 20px auto;
}
#logo {
    float:left;
    width:180px;
    margin-bottom:20px;
    max-width:100px;
}
#hero{
    /* height:300px; */
    /* background:red; */
    /* margin-bottom:20px; */
}
#hero img{
    max-width:100%;
    /* max-height:100%; */
    overflow:hidden;
}
#wrapper{
    max-width:1100px;
    margin:0 auto;
    min-height:100%;
}
/* our values are base don a 940px grid */
/* 580 divided by 940 */
main{
    width:60%;
    /* height:400px; */
    background: lightblue;
    float: left;
    /* margin:30px; */
    padding:30px;
    font-size:120%;
}
main p{
    padding:6px;
}
main ul{
    padding:6px;
    list-style-type:none;
}
main li{
    padding:2px;
}
#listWrapper{
    margin:30px;
    float:left;
}
#listWrapper ul{
    margin:0 20px 20px 20px;
}
aside{
    width:50%;
    /* height: 300px; */
    background: white;
    float:right;
    margin-right: 10px;
    margin-top: 10px; 
}

#birdPhoto{
    width:60%;
    height:50%;
    margin:0 auto;
    border: 5px solid beige;
    border-radius:10%;
    clear: both; 
    margin-top: 2px; 
    margin-right: 5px; 
}
#image{
    clear:both;
    margin:0 auto;
    border-radius:0%;
    overflow:hidden;
    
    /* max-width:90px;  */
}

.Bald_Eagle, .Bald_Eagle aside, .Bald_Eagle main {
    background:rgb(36, 8, 197);
    color: lightblue; 
    
}
.Bald_Eagle a{
    color: lightblue;
}
.Peregrine_Falcon, .Peregrine_Falcon aside, .Peregrine_Falcon main{
    background: #9ACD32;
    color: #4E691A;
}
.Peregrine_Falcon a{
    color: black;
}
.Osprey, .Osprey aside, .Osprey main{
    background: sandybrown;
    color:beige;
}
.Osprey a{
    color: black;
}
.California_Condor, .California_Condor aside, .California_Condor main{
    background:rgb(180, 170, 30);
    color:beige;
}
.California_Condor a{
    color:black;
}
.American_Kestrel, .American_Kestrel aside, .American_Kestrel main{
    background: darkviolet;
    color:beige;
}
.American_Kestrel a{
    color: black;
    text-align: center; ;
}
.Great_Horned_Owl, .Great_Horned_Owl aside, .Great_Horned_Owl main{
    background: green;
    color:beige;
}
.Great_Horned_Owl a{
    color: black;
}
.Red-Tailed_Hawk, .Red-Tailed_Hawk aside, .Red-Tailed_Hawk main{
    background: rgb(196, 99, 20);
    color:beige;
}
.Red-Tailed_Hawk a{
    color: Black;
}

footer{
    height:2px;
    line-height:50px;
    border-top:1px dotted rgb(4, 102, 41);
    /* position:absolute; */
    bottom: 2%;
    clear: both;    
}
footer ul{
    /* float:right; */
    margin:0 auto;
    color: black; 
}
footer li {
    float:left;
    list-style-type:none;
    margin-left:50px;
    color: black; 
}


aside h3{
    padding:2px;
}
aside p{
    padding:2px;
}
