/* Styles for IT 261 Main Website */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    /* min-height:100vh; */
}
header {
    background: rgb(133, 126, 126);
    overflow:hidden;
}
nav {
    height:50px;
    float:right;
}
nav ul {
    float:right;
}
nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}
nav a {
    text-decoration:none;
    color:black;
}
nav a.current{
    color:green;
    font-weight:bold;
}
.header-inner {
    max-width:1100px;
    margin: 20px auto;
}
#logo {
    float:left;
    width:180px;
    margin-bottom:20px;
    max-width:100px;
}
#hero{
    /* height:300px; */
    /* background:red; */
    /* margin-bottom:20px; */
}
#hero img{
    max-width:100%;
    /* max-height:100%; */
    overflow:hidden;
}
#wrapper{
    max-width:1100px;
    margin:0 auto;
    min-height:100%;
}
/* our values are base don a 940px grid */
/* 580 divided by 940 */
main{
    width:60%;
    /* height:400px; */
    background: lightblue;
    float: left;
    /* margin:30px; */
    padding:30px;
    font-size:120%;
}
main p{
    padding:6px;
}
main ul{
    padding:6px;
    list-style-type:none;
}
main li{
    padding:2px;
}
#listWrapper{
    margin:30px;
    float:left;
}
#listWrapper ul{
    margin:0 20px 20px 20px;
}
aside{
    width:50%;
    /* height: 300px; */
    background: white;
    float:right;
    margin-right: 10px;
    margin-top: 10px; 
}

#birdPhoto{
    width:100%;
    height:100%;
    margin:0 auto;
    border: 5px solid beige;
    border-radius:5%;
    clear: both; 
    margin-top: 2px; 
    margin-right: 5px; 
}
#image{
    clear:both;
    margin:0 auto;
    border-radius:0%;
    overflow:hidden;
    
    /* max-width:90px;  */
}

.Eagle, .Eagle aside, .Eagle main {
    background:lightblue;
    color: darkblue; 
    
    
}
.Eagle a{
    color: darkblue;
}
.Falcon, .Falcon aside, .Falcon main{
    background: #9ACD32;
    color: darkgreen;
}
.Falcon a{
    color: darkgreen;
}
.Osprey, .Osprey aside, .Osprey main{
    background: sandybrown;
    color:rgb(71, 44, 10);
}
.Osprey a{
    color: rgb(71, 44, 10);
}
.Condor, .Condor aside, .Condor main{
    background:rgb(180, 170, 30);
    color:forestgreen;
}
.Condor a{
    color:forestgreen;
}
.Kestrel, .Kestrel aside, .Kestrel main{
    background: rgb(165, 149, 165);
    color:rgb(88, 11, 88);
}
.Kestrel a{
    color: rgb(88, 11, 88);
    
}
.Owl, .Owl aside, .Owl main{
    background: green;
    color:rgb(226, 226, 135);
}
.Owl a{
    color: rgb(226, 226, 135);
}
.Hawk, .Hawk aside, .Hawk main{
    background: rgb(209, 111, 31);
    color:rgb(245, 195, 155);
}
.Hawk a{
    color: rgb(245, 195, 155);
}


footer{
    height:2px;
    line-height:50px;
    border-top:1px dotted rgb(4, 102, 41);
    /* position:absolute; */
    bottom: 2%;
    clear: both;    
}
footer ul{
    /* float:right; */
    margin:0 auto;
    color: black; 
}
footer li {
    float:left;
    list-style-type:none;
    margin-left:50px;
    color: black; 
}


aside h3{
    padding:2px;
}
aside p{
    padding:2px;
}

.current {
    color: red; 
}